body {
  background: #a7b4f9;
}

/* Main Container */

.container {
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  width: 470px;
  padding: 25px;
  background: #e7e7ff;
  box-shadow: 0px 10px 20px #3f1e214f;
}

/* Font Adjustments */

.figTree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #484be9;
}

.smallerFont {
  font-size: 240%;
}

.smallestFont {
  font-size: 200%;
}

/* Main Elements */

a {
  color: #545bbd;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

a:hover {
  color: #c743c7;
  text-decoration: underline;
  cursor: pointer;
}

footer {
  text-align: center;
  font-size: 14px;
  margin: 18px 0 0;
  cursor: default;
}

header {
  display: flex;
  justify-content: left;
}

p {
  color: #8485aa;
  font-family: "Figtree", sans-serif;
}

main {
  margin: 0 6px 10px;
  cursor: default;
}

h1 {
  color: #484be9;
  font-size: 300%;
  font-weight: 600px;
  margin: 18px 0 5px 0px;
}

main p {
  margin: 8px 0 21.44px;
  line-height: 22px;
}

main p strong {
  color: #1b217a;
  font-weight: lighter;
}

input {
  border: 0;
  border-radius: 5px;
  margin: 0;
  padding: 12px 10px;
}

/* Classes for Main */

.weather-details {
  position: relative;
  left: 6px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.temperature {
  position: relative;
  top: 24px;
  right: 12px;
  padding: 3px;
  margin: 6px 0 55px;
}

.temperature strong {
  font-size: 400%;
}

.mainEmoji {
  position: relative;
  top: 22px;
  width: 100px;
}

.day-celsius {
  position: relative;
  top: -35px;
  font-size: 15px;
}

/* Classes for Section */
#forecast {
  display: flex;
  justify-content: space-around;
  margin: 0 0 4px 0;
}

section .forecast-flexbox {
  background: #edefff;
  border-radius: 15px;
  box-shadow: 0 2px 10px 1px #67399225;
  padding: 20px 5px 16px 5px;
}

section .forecast-day {
  width: min-content;
  margin: 0 auto;
  color: #9c9c9c;
  padding: 0;
}

.emoji {
  position: relative;
  top: -8px;
  left: 2px;
  margin: 8px;
  width: 44px;
}

section .forecast-temperatures {
  width: min-content;
  position: relative;
  top: -11px;
  left: 0px;
  margin: 0 auto;
  font-weight: bold;
  color: #867eff;
}

section .temp-min {
  margin: 0 0 0 4px;
}

section .temp-max {
  margin: 0 4px 0 0;
  color: #423fff;
}

/* Classes for Forms */

.input-city {
  width: 325px;
  background: #fff0f3;
  box-shadow: 0 2px 5px 1px #6739921a;
}

.input-search {
  background: #fce041;
  box-shadow: 0 2px 5px 1px #67399218;
  padding: 12px 35px;
}
